<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Berea Human Rights</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">


{% block body %}
{% if selection == "attendance" %}
{% set select = "Attendance" %}
{% elif selection == "finance" %}
{% set select = "Finance" %}
{% elif selection == "other" %}
{% set select = "Other" %}
{% endif %}

//This will load the Visualization API and the packages.
google.charts.load('current', {'packages':['corechart']});
// Set a callback when the Google Visualization API is loaded.
google.charts.setOnLoadCallback(drawChart);

function drawChart() {

	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Event Type');
	

	{% if select == "Attendance" %}
		data.addColumn('number', 'Number of Attendees');
		data.addRows([
		{% for item in data %}
			['{{item['type']}}', {{item['attendance']}}],
		{% endfor %}
		]);
	{% elif select == "Finance" %}
		data.addColumn('number', 'Money Spent');
		data.addRows([
		{% for item in data %}
			['{{item['type']}}', {{item['finance']}}],
		{% endfor %}
		]);	
	{% endif %}

	
	// Set the table options here
	var options = {'title': '{{select}} vs Event Type',
				'width': 700,
				'height': 500};
				
	// Instantiate our chart object with the above options
	
	var chart = new google.visualization.BarChart(document.getElementById('chart_body'));
	chart.draw(data, options);
}

</script>

</head>

<body>	



<div class="panel panel-default" id = "report-panel">
	<div style="text-align: center;" class = "panel-heading"><h3><b>{{select}} Report</b></h3></div>
	<div class="panel-body" id="chart_body" style="margin-left: 32.5%"></div>
</div>

</body>

</html>
{% endblock %}