{% extends "head.html" %}
{% block body %}

<div class="container-fluid">
    <div style="margin-top:180px; margin-left:280px;">
    <div class="row">
    <div class="col-sm-8">
    <div class="panel panel-default">
	<div class="panel-heading"><h1>Welcome to the Database System</h1></div>
      <div class="panel-body">
	    <p style="font-size:20px;">This is the Berea Human Right's Commission Event's database.</p>
	    <ul>
        
		<li><p style="font-size:20px;"> To complete a survey form, click on the survey button and fill out the survey form.</p></li>
		<li> <p style="font-size:20px;">To add information about attendance and finance, click on the other details link.</p> </li>
		<li><p style="font-size:20px;">To generate a report, click on the reports page and select items to view a report.</p></li>
		
		
	</div>
	</div>
	</div>
	</div>
    
    </div>
</div>
{% endblock %}
