<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Berea Human Rights</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<script>
function begin_redirect() {
        window.location.href="http://tango.berea.edu:5006/home";
}

</script>

<body>
<body background="{{ url_for('static', filename='images/backgro.jpg') }}">
 
<!-- The navigation bar -->
<div class="navbar-fixed">
   <nav style="background-color:#003F72; margin-bottom: 60px; height: 100%;">
      <div class="nav-wrapper container">
	     <div class="row">
		    <div class="col-sm-2">
		       <a class="navbar-brand" href="/">
	            <img style="max-width:100px; margin-top: -4px;" src="{{ url_for('static', filename='images/logo.png') }}">
	           </a>
			</div>
			<div class="col-sm-10">
	
		      <h1 style="color:white">Berea Human Rights Commission's Event Database</h1>
	        </div>
		</div>
	</div>
  </nav>
</div>	
</div>

<div style="margin-top:10%; margin-left:280px;">
	<div class="row">
		<div class="col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align:center;"><h3>BHRC Login</h3></div>
				<div class="panel-body">
					<form method="POST" action="{{url_for('login')}}">
						<div class="form-group">
							<label>Username:</label>
							<input type="text" class="form-control" name="username" id="username">
						</div>
						<div class="form-group">
							<label>Password:</label>
							<input type="password" class="form-control" name="pwd" id="pwd">
						</div>
						<button type="submit" class="btn btn-primary btn-block">Log In</button>
					</form>
				</div>
				{% if msg != "" %}
				<div class="panel-footer">
					<p style="color: red;">{{msg}}</p>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

</body>
</html>
