{% extends "head.html" %}
{% block body %}
<div class="container-fluid">  
    <div style="margin-top:80px; margin-left:70px; margin-right:90px;">
    	<div class="panel panel-default">
			<div class="panel-heading"><h1>Berea Human Rights Comission Event Survey {{survey['SID']}}</h1></div>
    		<div class="panel-body">
    		
    				<h2>Event Information</h2>
    				
    					
						<label>Survey ID</label>
						<input class="form-control" placeholder="{{survey['SID']}}" id = "SID" name="SID_data" type="text" disabled>


      					<label>Event Title</label>
      					<input class="form-control" placeholder="{{survey['title']}}" id="title" name="title_data" type="text" disabled>


      					<label>Event Date</label>
      					<input class="form-control" placeholder="{{survey['date']}}" id="date" name="date_data" type="text" disabled>


      					<label>Event Location</label>
      					<input class="form-control" placeholder="{{survey['location']}}" id="location" name="location_data" type="text" disabled>


      					<label>Event Type</label>
      					<input class="form-control" placeholder="{{survey['eventype']}}" id="types" name="types_data" type="text" disabled>


      					<label>Government Official</label>
      					<input class="form-control" placeholder="{{survey['govt']}}" id="govt" name="govt_data" type="text" disabled>

    				
    				<h2>Demographic Information</h2>
    				

      					<label>Residence</label>
      					<input class="form-control" placeholder="{{survey['residency']}}" id="residency" name="residency_data" type="text" disabled>


      					<label>Race/Ethnicity</label>
      					<input class="form-control" placeholder="{{survey['race']}}" id="race" name="race_data" type="text" disabled>


      					<label>Sex</label>
      					<input class="form-control" placeholder="{{survey['sex']}}" id="sex" name="sex_data" type="text" disabled>

 
      					<label>Age</label>
      					<input class="form-control" placeholder="{{survey['age']}}" id="age" name="age_data" type="text" disabled>

    				
    				<h2>Workshop Evaluation</h2>
    				

      					<label>I found this program topic to be timely, stimulating and engaging.</label>
      					<input class="form-control" placeholder="{{survey['q1']}}" id="d1" name="q1" type="text" disabled>

    				

      					<label>The organization of the event was user friendly.</label>
      					<input class="form-control" placeholder="{{survey['q2']}}" id="d2" name="q2" type="text" disabled>

    				

      					<label>I found the speaker(s)/panel/film to be knowledgeable and relevant.</label>
      					<input class="form-control" placeholder="{{survey['q3']}}" id="d3" name="q3" type="text" disabled>

    				

      					<label>I was able to ask questions, receive answers and comment.</label>
      					<input class="form-control" placeholder="{{survey['q4']}}" id="d4" name="q4" type="text" disabled>

    				

      					<label>The speaker/presenter/panel was effective.</label>
      					<input class="form-control" placeholder="{{survey['q5']}}" id="d5" name="q5" type="text" disabled>

    				

      					<label>The handout materials were useful.</label>
      					<input class="form-control" placeholder="{{survey['q6']}}" id="d6" name="q6" type="text" disabled>

    				

      					<label>There was opportunity for questions.</label>
      					<input class="form-control" placeholder="{{survey['q7']}}" id="d7" name="q7" type="text" disabled>

    				

      					<label>The overall program was what I expected.</label>
      					<input class="form-control" placeholder="{{survey['q8']}}" id="d8" name="q8" type="text" disabled>

    				

      					<label>The information was relevant.</label>
      					<input class="form-control" placeholder="{{survey['q9']}}" id="d9" name="q9" type="text" disabled>

    				

  						<label>What were the strengths of the workshop?</label>
  						<textarea placeholder="{{survey['q10']}}" class="form-control" rows="6" id="d10" name="q10" disabled></textarea>

					

  						<label>What were the weaknesses of the workshop?</label>
  						<textarea placeholder="{{survey['q11']}}" class="form-control" rows="6" id="d11" name="q11" disabled></textarea>

    				
    				<h2>Accommodations</h2>
    				

      					<label>The accommodations(location, seating, sound,lighting, room) were adequate.</label>
      					<input class="form-control" placeholder="{{survey['q12']}}" id="d12" name="q12" type="text" disabled>


      					<label>The refreshments were adequate.</label>
      					<input class="form-control" placeholder="{{survey['q13']}}" id="d13" name="q13" type="text" disabled>

    				
      					<label>The event coordinators were pleasant and helpful.</label>
      					<input class="form-control" placeholder="{{survey['q14']}}" id="d14" name="q14" type="text" disabled>

    				
      					<label>The event began and ended on time.</label>
      					<input class="form-control" placeholder="{{survey['q15']}}" id="d15" name="q15" type="text" disabled>
			

      					<label>Would you recommend this event to others?</label>
      					<input class="form-control" placeholder="{{survey['q16']}}" id="d16" name="q16" type="text" disabled>

    				
  						<label>Additional Comments</label>
  						<textarea placeholder="{{survey['q17']}}" class="form-control" rows="6" id="d17" name="q17" disabled></textarea>
  					
			</div>
				<div class="panel-footer">	
					<button onclick="Surveys()" type="button" class="btn btn-success btn-block">Return to Surveys</button>
				</div>	
		</div>
	</div>
</div>

{% endblock %}