{% extends "head.html" %}
{% block body %}


<div class="container-fluid">   <!-- Creates the container--> 
    <div style="margin-top:80px; margin-left:70px; margin-right:90px;">
    <!--Creates the heading-->
    <div class="panel panel-default">
	<div class="panel-heading"><h1><b>Berea Human Rights Comission Event Evaluation Survey</b></h1></div>
      <div class="panel-body">
      <form action="{{ url_for('result2') }}" method="POST">   <!--creates a form region-->

	    <p style="font-size:18px;">Event Title: <input type="text" id="title" name="title_data"></p>   <!--Creates text boxe for Event Title-->
      
	   <p style="font-size:18px;">Event Date: <input type="text" id="date" name="date_data"></p>      <!--Creates text boxe for event date-->

	   <p style="font-size:18px;">Event Location: <input type="text" id="location" name="location_data"></p>
           
           <p style="font-size:18px;">Event Type:

	    <!--Creates drop down menue for event type-->
	   <select id="types" name="types_data"> 
           <option value="" disabled selected>Select an event type</option>
           <option value"Speaker">Speaker</option>
           <option value"Panel">Panel</option>
           <option value="Training">Training</option>
           <option value="Forum">Forum</option>
           <option value="Festival/Celebration">Festival/Celebration</option>
           <option value="Other">Other</option>

       </select></p>
	   
	    <!--Creates drop down menue for government official-->
		<p style="font-size:18px;">Government Official:
		<select id="govt" name="govt_data">
		    <option value="" disabled selected>Are you an elected/appointed government official of</option>
			<option value="City of Berea">City of Berea</option>
			<option value="City of Richmond">City of Richmond</option>
			<option value="Other">Other</option>
			<option value="Madison County">Madison County</option>
			<option value="Commonwealth of KY">Commonwealth of KY</option>
			<option value="Not Applicable">Not Applicable</option>
			</select></p>
			</br>
		<h3><u>Demographic Information (optional)</u></h3>
		</br>
		<!--Creates drop down menue for residence-->
		<p style="font-size:18px;">Residence:
		<select id="residency" name="residency_data">
		    <option value="" disabled selected>Select your residence(optional)</option>
			<option value="Berea">Berea</option>
			<option value="Richmond">Richmond</option>
			<option "Madison County(excluding Berea and Richmond)">Madison County(excluding Berea and Richmond)</option>
			<option value="Other">Other</option>
			</select></p>
		<!--Creates text boxes for race and sex-->
		 <p style="font-size:18px;">Race/Ethnicity:<input type="text" id="race" name="race_data"></p>
		 <p style="font-size:18px;">Sex:<input type="text" id="sex" name="sex_data"></p>
		 <p style="font-size:18px;">Age:
		 <!--Creates drop down menu for age-->
		<select id="age" name="age_data">
		    <option value="" disabled selected>Select your age</option>
			<option value="Under 18">Under 18</option>
			<option value="18-30">18-30</option>
			<option value="30-45">30-45</option>
			<option value="45-60">45-60</option>
			<option value="60+">60+</option>
			</select></p>
		</br>
		<h3><u>Workshop Evaluation</u></h3>
		<h5>Please check the appropriate radio button to indicate your evaluation of the workshop</h5>
		</br>
		<!--Creates radio buttons for question 1-->
		<ol style="margin-right=200px;">
		<li><p style="font-size:17px;">I found this program topic to be timely, stimulating and engaging.</li>
		<label class="radio-inline"><input type="radio" id="d1" name="q1" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q1" id="d2" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q1" id="d3" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" id="d4"   name="q1" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q1" id="d5" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q1" id="d6" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		<!--Creates radio buttons for question 2-->
		<li><p style="font-size:17px;">The organization of the event was user friendly.</li>
		<label class="radio-inline"><input type="radio" name="q2" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q2" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q2" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" name="q2" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q2" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q2" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		
		<!--Creates radio buttons for question 3-->
		<li><p style="font-size:17px;">I found the speaker(s)/panel/film to be knowledgeable and relevant.</li>
		<label class="radio-inline"><input type="radio" name="q3" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q3" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q3" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" name="q3" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q3" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q3" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		<!--Creates radio buttons for question 4-->
		<li><p style="font-size:17px;">I was able to ask questions, receive answers and comment.</li>
		<label class="radio-inline"><input type="radio" name="q4" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q4" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q4" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" name="q4" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q4" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q4" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		<!--Creates radio buttons for question 5-->
		<li><p style="font-size:17px;">The speaker/presenter/panel was effective.</li>
		<label class="radio-inline"><input type="radio" name="q5" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q5" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q5" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" name="q5" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q5" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q5" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		
		<!--Creates radio buttons for question 6-->
		<li><p style="font-size:17px;">The handout materials were useful.</li>
		<label class="radio-inline"><input type="radio" name="q6" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q6" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q6" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" name="q6" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q6" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q6" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		
		<!--Creates radio buttons for question 7-->
		<li><p style="font-size:17px;">There was opportunity for questions</li>
		<label class="radio-inline"><input type="radio" name="q7" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q7" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q7" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" name="q7" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q7" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q7" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		
		<!--Creates radio buttons for question 8-->
		<li><p style="font-size:17px;">The overall program was what I expected.</li>
		<label class="radio-inline"><input type="radio" name="q8" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q8" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q8" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" name="q8" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q8" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q8" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		
		<!--Creates radio buttons for question 9-->
		<li><p style="font-size:17px;">The information was relevant.</li>
		<label class="radio-inline"><input type="radio" name="q9" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q9" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q9" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" name="q9" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q9" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q9" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		
		<!--Creates comment boxes for questions 10 and 11-->
		<label for="comment"><li><p style="font-size:16px;">What were the strengths of the workshop?</li></label>
        <textarea class="form-control" rows="5" maxlength="500"  id="q10" name="q10_data"></textarea>
		</br>
		
		<label for="comment"><li><p style="font-size:16px;">What were the weaknesses of the workshop?</li></label>
        <textarea class="form-control" rows="5" maxlength="500" id="q11" name="q11_data"></textarea>
		
		
		</ol>
		</br>
		<h3><u>Accommodations</u></h3>
		</br>
		<!--Creates radio buttons for question 1 in accomodations section-->
		<ol style="margin-right=200px;">
		<li><p style="font-size:17px;">The accommodations(location, seating, sound,lighting, room) were adequate.</li>
		<label class="radio-inline"><input type="radio" name="q12" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q12" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q12" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" name="q12" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q12" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q12" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		
		<!--Creates radio buttons for question 2 in accomodations section-->
		<li><p style="font-size:17px;">The refreshments were adequate.</li>
		<label class="radio-inline"><input type="radio" name="q13" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q13" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q13" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" name="q13" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q13" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q13" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		
		<!--Creates radio buttons for question 3 in accomodations section-->
		<li><p style="font-size:17px;">The event coordinators were pleasant and helpful.</li>
		<label class="radio-inline"><input type="radio" name="q14" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q14" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q14" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" name="q14" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q14" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q14" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		
		<!--Creates radio buttons for question 4 in accomodations section-->
		<li><p style="font-size:17px;">The event began and ended on time.</li>
		<label class="radio-inline"><input type="radio" name="q15" value="N/A">N/A</label>
        <label class="radio-inline"><input type="radio" name="q15" value="Strongly Disagree">Strongly Disagree</label>
        <label class="radio-inline"><input type="radio" name="q15" value="Disagree">Disagree</label>
		<label class="radio-inline"><input type="radio" name="q15" value="No opinion">No opinion</label>
        <label class="radio-inline"><input type="radio" name="q15" value="Agree">Agree</label>
        <label class="radio-inline"><input type="radio" name="q15" value="Strongly Agree">Strongly Agree</label></p>
		</br>
		
		<!--Creates radio buttons for question 5 in accomodations section-->
		<li><p style="font-size:17px;">Would you recommend this event to others?</li>
		<label class="radio-inline"><input type="radio" name="q16" value="yes">Yes</label>
        <label class="radio-inline"><input type="radio" name="q16" value="No">No</label></p>
		</br>
		
		<!--Creates text box for additional comments-->
		<label for="comment"><li><p style="font-size:16px;">Additional Comments:</li></label>
        <textarea class="form-control" rows="5" maxlength="500"  id="q17" name="q17_data"></textarea>
		
		</ol>
		
		<!--submit and reset buttons-->
		 <br/>
            <button    onclick="Survey()" class="btn  btn-primary btn-block" style="margin-bottom:10px;"type="submit">Submit</button>
            </form>
            <button onclick="resurv()"  class="btn  btn-success btn-block" type="submit">Reset</button>
           
		
		
		
		
			
			
					   
	  </div>
	</div>
	</div>
	
</div>



{% endblock %}
